#loading {
  /* position: fixed;
  top: 400px;
  left: 400px; */
  margin: 10px auto 10px auto;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid rgba(189,189,189 ,0.25);
  border-left-color: rgba(3,155,229 ,1);  
  border-top-color: rgba(3,155,229 ,1);
  animation: rotate 2000ms infinite linear
}

@keyframes rotate {
  to {transform: rotate(1turn)}
}